.datenschutz__body{
    margin-top: 4rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.datenschutz__body h1{
    margin-top: calc(4rem + 20px);
    margin-bottom: 20px;
    font-size: 30px;
}


.datenschutz__body h2{
    margin-top: 20px;
    margin-bottom: 18px;
}

.datenschutz__body h3{
    margin: 16px 0;
    /* font-weight: 500; */
}

.datenschutz__body p{
    font-size: 18px;
    line-height: 19px;
}

.datenschutz__body ul{
    list-style-position: inside;
    margin-left: 20px;
}

.datenschutz__body ul li{
    font-size: 18px;
}

.datenschutz__body p span a{
    color: black;
}

.datenschutz__body p span a:visited{
    color: black;
}


.datenschutz__body p a:visited{
    color: blue;
}

.datenschutz__body ul{
    list-style-position: inside;
    margin-left: 20px;
}

@media only screen and (min-width: 700px) and (max-width: 1024px){
    .datenschutz__body{
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media only screen and (min-width: 1025px){
    .datenschutz__body{
        margin-left: 5.1rem;
        margin-right: 5.1rem;
    }
}