.aboutme__body{
    margin-top: 4rem;
}

.aboutme__timeline-item p{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.7;
}

.aboutme__timeline{
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
    /* background-color: rgb(230, 230, 230); */
}

.aboutme__timeline-body{
    position: relative;
    background-color: rgb(245, 245, 245);
    margin-left: 30px;
    border-radius: 0 8px 8px 0;
    padding: 5px 0;
    
}

.aboutme__timeline-body::after{
    content: '';
    width: 4px;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.7);
    position: absolute;
    left: -4px;
    top: 0;
    
}

@media only screen and (min-width: 694px) and (max-width: 1024px){
    .aboutme__timeline-body{
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }
}

@media only screen and (min-width: 1025px){
    .aboutme__timeline{
        max-width: 2000px;
        width: calc(100% - 10rem);
    }
}